.container {
  padding: 2vw;
  background-color: var(--secondary-color);
  width: 96vw;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}

.controls {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.controls input {
  padding: 4px;
  margin-right: 10px;
  border-radius: 5px;
}

.documentList {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fileItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: var(--background-color);
}

.fileItem h4 {
  color: #000000;
}

.fileDetails {
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
}

.folderItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: var(--background-color);
}

.folderHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: var(--primary-color);
}

.folderHeader h4 {
  color: #000000;
}

.folderDetails {
  display: flex;
  flex-direction: column;
}

.fileItem img,
.folderHeader img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.folderContents {
  padding-left: 20px;
  margin: 10px 0;
  border-left: 2px solid var(--accent-color);
}
